/*
 font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
 */
/* General */
* { /* Selector universal */

margin: 0; 
box-sizing: border-box;

}



html{
/* todo:  ( responsibe web Design ) Para rems */
}

body{
    background-color: bisque;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;

}

a{
color: inherit;
text-decoration: none;

}
/*utils */

.wrapper{
    width: min(100% - 42px,1440px);
}

img {
/* todo: RWD ( responsibe web Design ) Para Imagenes */
}


/* Header Section */

.header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    margin-top: 50px;
}