/*
 font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
 */
/* General */
* { /* Selector universal */

margin: 0; 
box-sizing: border-box;

}



html{
/* todo: usar el tamaño de la fuente con tamaños relativos usando rems*/
 font-size: 14px;
}


body{
    background-color: hsl(217, 28%, 15%);
    font-family: "Open Sans", sans-serif;
    /*font-size: 14px;*/
    color: white;
}

a{
color: inherit;
text-decoration: none;

}
/*utils */

.wrapper{
    /*Adaptando el ancho de la página a dispositivos móviles y desktops */
    width: min(100% - 3rem,1440px);  /*14*3 = 42 px = 3rem*/
}

img {
/* todo: RWD ( responsibe web Design ) Para Imagenes */
max-width: 100%;
height: auto;
}


/* Header Section */

.header{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Cebtra el elemento con margenes automaticos*/
    margin: 0 auto; /* 0: top y botton y auto left , right*/
    margin-top: 3rem;
}

.header__nav {
    display: flex;
    gap: 3rem;
}


/* Hero sections */

.hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top:  3rem;
    padding-bottom: 3rem;
}

/* Todo: Agregar el fondo */

.hero__images{
    width: min(100% -3rem, 720);

}

.hero__title {
/* border: 1px solid red; */
 width: min(100% -3rem, 720px);
 font-family: "Raleway", sans-serif;
 font-size: 2.5rem;
 font-weight: 700;
 text-align: center;
}

.hero__text {
    width:  min(100% -3rem, 720px);
    font-size: 1.2rem;
    text-align: center;

}

.hero__button {
font-weight: 700;
border: 0;
border-radius: 7rem;
padding: 1rem 1.5rem;
min-width: 220px;
color: hsl(0, 0%, 100%);
background: linear-gradient(90deg,hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
}

/*features sections */


.features {
    

    display: grid;
    grid-template-columns: 340px;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

@media (min-width: 1200px) {
    .features {
        grid-template-columns: 340px 340px;
    }
}

.feature {
   
    text-align: center;
    flex-direction: column;
    gap: 1rem;

}

.feature__title {
    font-family: "Raleway", sans-serif;
}

.feature__text {
    text-align: center;
}


/* collaboration section */

.collaboration {

   
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

@media (min-width: 1200px) {
    .collaboration{
       flex-direction: row; 
    }
    
}

.how_works{
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(100%-3rem,480px);
}


.how_works__title{
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    
}

@media (min-width: 1200px) {
    .how_works__title{
       font-size: 3rem;
    }
    
}
.how_works__button  {
    color: hsl(176, 68%, 64%);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 10.9rem;
    border-bottom: 1px  solid hsl(176, 68%, 64%) ;
    padding-bottom: 0.5rem;

}

.testimonials{

    padding-top:8rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: min(100%-3rem,1240px);

    margin:  0 auto;
}

@media (min-width: 1200px) {
    .testimonials{
        flex-direction: row;
    }
    
}

.testimonial{
    
    /*paffind: top  right botton left */
    padding: 2rem 1.5rem 1.5rem 1.5em;
    background-color: hsl(219, 30%, 18%);
    border-radius: 0.5rem;
    width: min(100%-3rem,480px);
    position: relative;
}

/*:nth-child sirve para colocarlo en cualquier hijo*/

.testimonial:first-child:before{
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    display: block;
    width: 55px;
    height: 45px;
    /*opacity: 0.3;*/
    background-image: url(images/bg-quotes.png);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}

.testimonial__text{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.testimonial__profile{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
}

.testimonial__avatar  {
    border-radius: 50%;
}


.testimonial__users h4 {
    font-weight: 700;
}

.testimonial__users h5 {
    font-weight: 400;
    
}